<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Application">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".HomepageActivity" android:exported="false" />
        <activity android:name=".MySanctionsActivity" android:exported="false" />
        <activity android:name=".StudentNotificationsActivity" android:exported="false" />
        <activity android:name=".CouncilNotificationsActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".PersonalInformationActivity" android:exported="false" />

        <activity android:name=".CouncilHomepageActivity" android:exported="false" />
        <activity android:name=".CouncilProfileActivity" android:exported="false" />
        <activity android:name=".AddEventActivity" android:exported="false" />
        <activity android:name=".ManageEventsActivity" android:exported="false" />
        <activity android:name=".ManageStudentsActivity" android:exported="false" />
        <activity android:name=".SectionDetailsActivity" android:exported="false" />
        <activity android:name=".RecentActivityActivity" android:exported="false" />
        <activity android:name=".ManageFirstYearActivity" android:exported="false" />
        <activity android:name=".ManageSecondYearActivity" android:exported="false" />
        <activity android:name=".ManageThirdYearActivity" android:exported="false" />
        <activity android:name=".ManageFourthYearActivity" android:exported="false" />
        <activity android:name=".ForgotPasswordActivity" android:exported="false" />

        <!-- Legacy / Reference (can be removed later) -->
        <activity android:name=".NotificationsActivity" android:exported="false" />

    </application>

</manifest>
